{% extends 'base.html.twig' %}

{% block section %}
	<h1>Me voy de viaje y vendo todo esto! Los precios son negociables. Si estás interesado escribime a <a href="mailto:fede.viar@gmail.com">fede.viar@gmail.com</a></h1>
	<div class="row">
		<div class="item">
			<div class="well">
				<div class="panel ">
					<div class="panel-heading">
						<h2>PlayStation 3 + joysticks + juegos<br><span class="label label-success">$6500*</span></h2>
					</div>
					<div class="panel-body">
						<img src="img/mex/ps3.jpg" class="img-responsive">
						<p>PlayStation 3 Slim 250 gb. Menos de dos años de uso. Viene con dos Joysticks originales (dualshock 3), 2 joysticks de ps2 con adaptor a ps3, y 7 juegos:</p>
						<ul>
							<li>GTA V</li>
							<li>Mortal kombat Komplete Edition</li>
							<li>PES 2013</li>
							<li>PES 2014</li>
							<li>FIFA 2013</li>
							<li>FIFA 2014 Worl Cup Brazil</li>
							<li>Minecraft</li>
						</ul>
						<a href="http://articulo.mercadolibre.com.ar/MLA-536459554-sony-ps3-250gb-ultra-slim-metal-gear-rising-2-joysticks-_JM" class="btn btn-primary">Ver producto en ML</a>
					</div>
					<div class="panel-footer">
						<small>*Los $6500 incluyen todoslos juegos e items detallados. Se puede ajustar el precio si no se quiere algún item.</small>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="well">
				<div class="panel">
					<div class="panel-heading">
						<h2>Monitor LED Samsung<br><span class="label label-success">$1800*</span></h2>
					</div>
					<div class="panel-body">
						<img src="img/mex/led.jpg" class="img-responsive">
						<p>Monitor LED Samsung 23 pulgadas modelo S23b350 en perfecto estado.</p>
						<a href="http://articulo.mercadolibre.com.ar/MLA-536895800-monitor-led-hdmi-23-pulgas-samsung-s23b350-_JM" class="btn btn-primary">Ver producto en ML</a>
					</div>
					<div class="panel-footer">
						<small>*Tengo 2, si llevás los dos te hago precio.</small>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="well">
				<div class="panel">
					<div class="panel-heading">
						<h2>Bici Venzo Raptor<br><span class="label label-success">$7200</span></h2>
					</div>
					<div class="panel-body">
						<img src="img/mex/bici.jpg" class="img-responsive">
						<p>Gran bici rodado 29 con bastante uso pero en buenas condiciones</p>
						<a href="http://articulo.mercadolibre.com.ar/MLA-532265950-bicicleta-venzo-raptor-rod-29-27-vel-shimano-frenos-disco-_JM" class="btn btn-primary">Ver producto en ML</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="well">
				<div class="panel">
					<div class="panel-heading">
						<h2>Escritorio<br><span class="label label-success">$2500</span></h2>
					</div>
					<div class="panel-body">
						<img src="img/mex/escritorio.jpg" class="img-responsive">
						<p>Escritorio blanco de 140 cm x 65 cm (es igual al de la foto pero en otras dimensiones)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="well">
				<div class="panel">
					<div class="panel-heading">
						<h2>Parlantes Thonet & Vander Kurbis<br><span class="label label-success">$1600</span></h2>
					</div>
					<div class="panel-body">
						<img src="img/mex/parlantes.jpg" class="img-responsive">
						<p>Altos parlantes, 2.0</p>
						<a href="http://articulo.mercadolibre.com.ar/MLA-540372213-parlante-thonet-and-vander-kurbis-20-_JM" class="btn btn-primary">Ver producto en ML</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="well">
				<div class="panel">
					<div class="panel-heading">
						<h2>Cajón Peruano<br><span class="label label-success">$400</span></h2>
					</div>
					<div class="panel-body">
						<img src="img/mex/cajon.jpg" class="img-responsive">
						<p>No es el de la foto (pero es muy parecido)</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="well">
				<div class="panel">
					<div class="panel-heading">
						<h2>Fichas de Póker<br><span class="label label-success">$600</span></h2>
					</div>
					<div class="panel-body">
						<img src="img/mex/poker.jpg" class="img-responsive">
						<p>Vienen con el maletín</p>
					</div>
				</div>
			</div>
		</div>
		<div class="item">
			<div class="well">
				<div class="panel">
					<div class="panel-heading">
						<h2>PC de escritorio<br><span class="label label-success">$4200</span></h2>
					</div>
					<div class="panel-body">
						<img src="img/mex/pc.jpg" class="img-responsive">
						<p>PC de escritorio corriendo Linux, en excelente estado. Las especificaciones son las siguientes:</p>
						<ul>
							<li>Procesador Intel Core i5-3470</li>
							<li>Motherboard ASUS P8Z77-M</li>
							<li>Disco Rigido HD 1TB SATA3 64MB WD Caviar Blue</li>
							<li>Memoria 8GB DDR3 | 1333MHz | Kingston</li>
							<li>GABINETE ATXC OV-513 600W</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
