{% extends 'base.backend.html.twig' %}

{% block section %}
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Posts</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item">
						<a href="{{ url('admin/list/Post') }}">Total</a>
						<span class="badge">{{ post.total }}</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
