{% extends 'base.backend.html.twig' %}

{% block section %}
<div class="row">
	<div class="col-md-4">
		<a href="http://fresca-vita.com/automate/sendmails" class="sendmails btn btn-danger">Enviar mails</a>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<h2>Últimos envíos:</h2>
		<table class="table table-responsive table-striped">
			<thead>
				<tr>
					<th>Día</th>
					<th>Cantidad</th>
				</tr>
			</thead>
			<tbody>
				{% for k,d in dates %}
					<tr>
						<td>{{ k|date("d/m/y") }}</td>
						<td>{{ d }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
