{% extends 'base.backend.html.twig' %}

{% block section %}
	{% set title = 'Categorías' %}
	{% set deletevalue = entity.name %}
	{# -- #}
	{% set action = edit ? 'admin/update/' ~ entityName ~ '/' ~ entity.id : 'admin/create/' ~ entityName %}
	{% include 'form.header.widget.html.twig' %}
	<div id="form">
		<form action="{{ url(action) }}" method="POST" novalidate>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						label: 'Nombre',
						name: 'Name',
						placeholder: 'Nombre de la Categoría',
						required: 'required',
						value: entity.name,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% include 'form.bbcode.widget.html.twig' with {
						label: 'Descripción',
						name: 'Description',
						value: entity.description,
					} %}
				</div>
			</div>
			{% include 'form.buttons.widget.html.twig' %}
		</form>
	</div>
{% endblock %}

