{% extends 'base.backend.html.twig' %}

{% block section %}
	{% set action = edit ? 'admin/update/' ~ entityName ~ '/' ~ entity.id : 'admin/create/' ~ entityName %}
	{% include 'form.header.widget.html.twig' with { title: 'Tag' } %}
	<div id="form">
		<form action="{{ url(action) }}" method="POST" novalidate>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						label: 'Nombre',
						name: 'Name',
						placeholder: 'Nombre',
						required: 'required',
						value: entity.name,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.select.widget.html.twig' with {
						key: 'id',
						label: 'Tipo de Tag',
						name: 'IdTagType',
						options: data,
						prop: 'name',
						selected: entity.tagtype.id,
						value: entity.tagtype,
					} %}
				</div>
			</div>
			{% include 'form.buttons.widget.html.twig' with { deletevalue: entity.name } %}
		</form>
	</div>
{% endblock %}

