{% extends 'base.backend.html.twig' %}

{% block section %}
	{% set action = edit ? 'admin/update/' ~ entityName ~ '/' ~ entity.id : 'admin/create/' ~ entityName %}
	{% include 'form.header.widget.html.twig' with { title: 'Tipo de Tag' } %}
	<div id="form">
		<form action="{{ url(action) }}" method="POST" data-abide>
			<!-- # -->
			<div class="row">
				<div class="large-4 small-6 columns">
					{% include 'form.input.widget.html.twig' with {
							label: 'Nombre',
							value: entity.name, name: 'Name',
							required: 'required',
							autofocus: 'autofocus'
						}
					%}
				</div>
			</div>
			{% include 'form.buttons.widget.html.twig' with { deletevalue: entity.name } %}
		</form>
	</div>
{% endblock %}

