{% extends 'base.backend.html.twig' %}

{% block section %}
	{% set action = edit ? 'admin/update/' ~ entityName ~ '/' ~ entity.id : 'admin/create/' ~ entityName %}
	{% include 'form.header.widget.html.twig' with { title: 'Usuario' } %}
	<div id="form">
		<form action="{{ url(action) }}" method="POST" novalidate>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
							label: 'Nombre',
							value: entity.name, name: 'Name',
							required: 'required'
						}
					%}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
							label: 'Usuario', placeholder: 'Nombre de Usuario',
							value: entity.username, name: 'Username',
							autocompleteoff: true, required: 'required'
						}
					%}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
							label: 'Contraseña', autocompleteoff: true,
							id: 'password', type: 'password',
							value: entity.password, name: 'Password',
							required: 'required'
						}
					%}
				</div>
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
							label: 'Repetir Contraseña',
							id: 'passwordr',
							type: 'password', equalto: 'password',
							value: entity.password, name: 'password-repeat',
							required: 'required', errormsg: 'Las contraseñas no coinciden'
						}
					%}
				</div>
			</div>
			{% include 'form.buttons.widget.html.twig' with { deletevalue: entity.username } %}
		</form>
	</div>
{% endblock %}

