{% extends 'base.backend.html.twig' %}

{% block section %}
	{% set title = 'Usuarios' %}
	{% set deletevalue = entity.username %}
	{# -- #}
	{% set action = edit ? 'admin/update/' ~ entityName ~ '/' ~ entity.id : 'admin/create/' ~ entityName %}
	{% include 'form.header.widget.html.twig' %}
	<div id="form">
		<form action="{{ url(action) }}" method="POST" novalidate>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						label: 'Nombre',
						value: entity.name,
						name: 'Name',
						required: 'required',
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						autocompleteoff: true,
						label: 'Usuario',
						name: 'Username',
						placeholder: 'Nombre de Usuario',
						required: 'required',
						value: entity.username,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						autocompleteoff: true,
						errormsg: 'Email inv치lido',
						name: 'Email',
						label: 'Email',
						type: 'email',
						value: entity.email,
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						autocompleteoff: true,
						id: 'password',
						label: 'Contrase침a',
						name: 'Password',
						type: 'password',
					} %}
				</div>
				<div class="col-md-4">
					{% include 'form.input.widget.html.twig' with {
						equalto: 'password',
						errormsg: 'Las contrase침as no coinciden',
						id: 'passwordr',
						label: 'Repetir Contrase침a',
						name: 'password-repeat',
						type: 'password',
					} %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{% include 'form.select.widget.html.twig' with {
						name: 'role',
						label: 'Rol',
						options: data,
						required: 'required',
						selected: entity.role,
						value: entity.role,
					} %}
				</div>
			</div>
			{% include 'form.buttons.widget.html.twig' %}
		</form>
	</div>
{% endblock %}

