$baristacolor1: #FFCB8B;

.row.fluid {
	max-width: 100%;
}

#header {
	.top-bar {
		ul {
			li {
				h1 {
					color: white;
				}
			}
		}
	}
}

#sidebar {
	position: fixed;
	top: 45px;
	left: 0;
	height: 100%;
	background-color: $baristacolor1;
	ul.side-nav {
		li {
			a {
				display: inline-block;
			}
		}
	}
	#copy {
		bottom: 45px;
		position: absolute;
	}
}
