$baristacolor1: #FFCB8B;
$linkcolor: #008cba;
$linkhovercolor: #0078a0;
$red: #FF6C6C;

textarea { height: auto; }
.bbcontainer {
	margin-bottom: 20px;
}
.row.fluid {
	max-width: 100%;
}
span.example {
	margin-top: -1rem;
	display: block;
	padding-top: 5px;
	margin-bottom: 1rem;
	font-size: 0.7em;
	line-height: 1.3em;
	font-style: italic;
}
.alert-box {
	margin-top: 0.5rem;
	margin-bottom: 0;
	&.hide { display: none; }
}
#header {
	.top-bar {
		ul {
			li {
				h1 {
					color: white;
				}
			}
		}
	}
}

#sidebar {
	position: fixed;
	top: 45px;
	left: 0;
	height: 100%;
	background-color: $baristacolor1;
	ul.side-nav {
		li {
			a {
				display: inline-block;
			}
		}
	}
	#copy {
		bottom: 45px;
		position: absolute;
	}
}

#content {
	.row {
		table {
			tbody {
				&.sortable {
					tr { cursor: move; }
				}
				tr {
					&.ui-sortable-helper {
						background-color: #ccc;
					}
					td {
						span {
							display: block;
							a {
								font-size: 1em;
								color: black;
								&:hover {
									text-decoration: underline;
									color: $linkhovercolor;
								}
							}
						}
						a {
							font-size: 0.8em;
							&.del {
								color: #FF7676;
								&:hover {
									color: red;
								}
							}
						}
					}
				}
			}
		}
	}
	.btn-container {
		position: relative;
		width: 12em;
		overflow: hidden;
		.fake, .fileupload {
			cursor: pointer;
			width: 12em;
			margin-bottom: 0;
		}
		.fileupload {
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			font-size: 200em;
			width: auto;
		}
	}
	.progressbar-container {
		.bar {
			display: none;
			margin-top: 10px;
			width: 0%;
			height: 20px;
			background-color: $baristacolor1;
		}
	}
	.upload-container {
		padding-top: 10px;
		.upload {
			font-size: 1em;
			margin-right: 5px;
			margin-bottom: 5px;
			.remove {
				font-weight: bold;
				padding-left: 10px;
				cursor: pointer;
			}
			a {
				color: white;
				text-decoration: underline;
			}
		}
		.filetitle {
			width: 20em;
		}
	}
	.alerts {
		margin-bottom: 10px;
	}
	.form-buttons {
		position: fixed;
		top: 45px;
		left: 16.67%;
		padding: 10px 0;
		border-bottom: 1px solid #d3d3d3;
		padding-left: 0.9375rem;
		z-index: 98;
		width: 100%;
		background-color: #f3f3f3;
		@media only screen and (max-width: 40em) {
			padding-right: 0;
			left: 0;
		}
		.button {
			margin-bottom: 0;
			margin-right: 5px;
		}
	}
	#form {
		padding-top: 80px;
	}
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; font-size: 1em; line-height: 1em; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }