.row.fluid {
	max-width: 100%;
}
#header {
	.top-bar {
		ul {
			li {
				h1 {
					color: white;
				}
			}
		}
	}
}
#sidebar {
	margin-top: 45px;
	ul.side-nav {
		li {
			a {
				display: inline-block;
			}
		}
	}
}