body { padding-top: 70px; }
@media print {
	body {
		padding: 0;
		font-size: 1.1em !important;
		table.table tr td {
			padding: 4px;
		}
		.pb {
			page-break-after: always;
			page-break-inside: avoid;
		}
	}
}

#login {
	img {
		display: block;
		margin: 0 auto 40px;
	}
}
.error-template {
	padding: 0 15px; text-align: center;
	img {
		display: block;
		margin: 0 auto 20px;
	}
}
.error-actions { margin-top:15px; margin-bottom:15px; }
.error-actions .btn { margin-right:10px; }
#comanda {
	.c1 {
		width: 70%;
		p {
			text-align: justify;
		}
	}
	.c2 {
		width: 30%;
		text-align: right;
		img {
			width: 80px;
		}
	}
}
#prices {
	.nav {
		padding-bottom: 30px;
	}
	.table {
		.glyphicon {
			cursor: pointer;
			&.null {
				color: #ccc !important;
			}
		}
		.label {
			font-size: 100%;
			display: inline-block;
		}
	}
}
.alert {
	padding: 5px 35px 5px 15px;
	font-size: 0.8em;
	margin-bottom: 10px;
}
#form {
	.alert.error {
		margin-top: 10px;
		padding: 5px;
		font-size: 11px;
		display: none;
	}
	input, select, textarea {
		&.error {
			border-color: #a94442;
		}
	}
}
.caret.caret-reversed {
	border-top-width: 0;
	border-bottom: 4px solid;
}
.graph {
	width: 100%;
	height: 350px;
	position: relative;
	margin-bottom: 40px;
	.graph-x {
		clear: both;
		zoom: 1;
		overflow: hidden;
		span {
			display: block;
			float: left;
			padding-top: 5px;
			padding-left: 0.5%;
			font-size: 0.8em;
			text-align: left;
			font-weight: bold;
			margin-right: 0.5%;
		}
	}
	.graph-y {
		display: none;
	}
	.graph-area {
		width: 100%;
		height: 100%;
		position: relative;
		.graph-point {
			position: absolute;
			bottom: 0;
			background-color: #ccc;
			text-align: center;
			cursor: pointer;
			.badge {
				font-size: 0.65em;
			}
			&.e {
				background-color: #428bca;
			}
			&:hover {
				background-color: #ccc + #111;
			}
			&.e:hover {
				background-color: #428bca + #111;
			}
		}
	}
}

.badge.badge-primary {
	background-color: #428bca;
	color: white;
}
.badge.badge-warning {
	background-color: #f0ad4e;
	color: white;
}
.badge.badge-info {
	background-color: #5bc0de;
	color: white;
}
.badge.badge-success {
	background-color: #5cb85c;
	color: white;
}

#results-page {
	position: relative;
	height: 50px;
	input.form-control {
		display: inline-block;
		width: 60px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 15px;
	}
	a.btn {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 80px;
	}
}

.file-upload-module {
	.btn-container {
		position: relative;
		overflow: hidden;
		.fake, .fileupload {
			cursor: pointer;
			margin-bottom: 5px;
		}
		.fileupload {
			position: absolute;
			top: 0;
			right: 0;
			opacity: 0;
			font-size: 200em;
			width: auto;
		}
	}
	.progress {
		margin-top: 10px;
		display: none;
		.progress-bar {
			width: 0%;
		}
	}
	.upload-container {
		padding-top: 10px;
		.label {
			margin-right: 5px;
			margin-bottom: 5px;
			display: inline-block;
			font-size: 0.9em;
			.remove {
				font-weight: bold;
				padding-left: 10px;
				cursor: pointer;
			}
			a {
				color: white;
				text-decoration: underline;
				font-weight: normal;
			}
		}
		img {
			margin-bottom: 20px;
		}
		.filetitle {
			width: 20em;
		}
	}
}

.toggleflag {
	cursor: pointer;
	span.null {
		color: #dedede;
	}
}
table {
	border: none;
	tbody {
		&.sortable {
			tr { cursor: move; }
		}
		tr {
			&.ui-sortable-helper {
				width: 100%;
				td {
					background: #333 !important;
					color: #fff !important;
				}
			}
		}
	}
}