<div class="form-buttons">
	<a class="button small secondary radius" href="{{ url('admin/list/' ~ entityName) }}" title="Volver">Volver</a>
	<input type="submit" class="button small success radius submit" value="{% if edit %}Guardar{% else %}Guardar{% endif %}" />
	{% if edit %}
		<a data-value="{{ deletevalue }}" href="{{ url('admin/delete/' ~ entityName ~ '/' ~ entity.id ) }}" title="Borrar" class="button small alert radius delete delen">Borrar</a>
	{% endif %}
</div>