.row.fluid {
	max-width: 100%;
}
#header {
	.top-bar {
		ul {
			li {
				h1 {
					color: white;
				}
			}
		}
	}
}
#sidebar {
	margin-top: 45px;
	ul.side-nav {
		li {
			a {
				display: inline-block;
			}
		}
	}
}

*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;

}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.well {
 position:relative;
 display: block;
 padding: 0;
}
.panel {
	margin-bottom: 0;
}